body.path-question-type {
    .form-group {
        .editor_atto_toolbar {
            .sr-only {
                &:not(legend) {
                    height: 1px;
                    overflow: hidden;
                }
            }
        }
        .sr-only {
            &:not(legend):not([for="id_category"]) {
                height: 1px;
                overflow: hidden;
            }
        }
    }
}

.editor_atto_wrap {
    .editor_atto_toolbar {
        &.editor_atto_toolbar_bottom {
            font-size: 0.8rem;
            min-height: unset;
            justify-content: right;
            background: inherit;
            border: none;
            .danger {
                background-color: var(--danger);
                color: #fff;
                font-weight: bolder;
                padding: 0 4px;
                border-radius: 4px;
            }
            .warning {
                background-color: var(--warning);
                font-weight: normal!important;
                padding: 0 4px;
                border-radius: 4px;
            }
            .warning-icon {
                align-items: center;
                justify-content: center;
                height: 100%;
                display: none;
            }
            > div {
                padding: 2px 5px;
                > *:first-child {
                    margin: 0 0.2rem;
                }
                > * {
                    margin: 0 0.05rem;
                }
            }
        }
    }
}


