body.path-question-type {
    .form-group {
        .editor_atto_toolbar {
            .sr-only {
                &:not(legend) {
                    height: 1px;
                    overflow: hidden;
                }
            }
        }
        .sr-only {
            &:not(legend):not([for="id_category"]) {
                height: 1px;
                overflow: hidden;
            }
        }
    }
}

.editor_atto_wrap {
    .editor_atto_toolbar {
        &.editor_atto_toolbar_bottom {
            font-size: 0.8rem;
            min-height: unset;
            justify-content: right;
            background: inherit;
            border: none;
            .warning-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            > div {
                padding: 2px 5px;
                > * {
                    margin: 0 0.5px;
                }
            }
        }
    }
}


