body.path-question-type .form-group .editor_atto_toolbar .sr-only:not(legend) {
  height: 1px;
  overflow: hidden; }

body.path-question-type .form-group .sr-only:not(legend):not([for="id_category"]) {
  height: 1px;
  overflow: hidden; }

.editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom {
  font-size: 0.8rem;
  min-height: unset;
  justify-content: right;
  background: inherit;
  border: none; }
  .editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom .danger {
    background-color: var(--danger);
    font-weight: normal;
    color: #fff;
    font-weight: bolder;
    padding: 0 4px;
    border-radius: 4px; }
  .editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom .danger::before {
    content: "\26A0"; }
  .editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom .warning {
    background-color: var(--warning);
    font-weight: normal !important;
    padding: 0 4px;
    border-radius: 4px; }
  .editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom > div {
    padding: 2px 5px; }
    .editor_atto_wrap .editor_atto_toolbar.editor_atto_toolbar_bottom > div > * {
      margin: 0 0.5px; }
